.wrap {
  max-width: 500px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin-top: 0;
}

.bd-migrator-columns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bd-migrator-column {
  background: #fff;
  padding: 20px;
  border: 1px solid #ccd0d4;
  border-radius: 5px;
  flex: 1;
}

.form-table {
  width: 100%;
  border-collapse: collapse;
}

.form-table th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ccd0d4;
  background: #f9f9f9;
}

.form-table td {
  padding: 10px;
  border-bottom: 1px solid #ccd0d4;
}

#import_url {
  width: 100%;
}

p.submit {
  padding: 0px;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: #0073aa;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
